src/main/resources/GenJobConfiguration.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="genJobConfiguration" type="genJobConfigurationType"/>
  <xs:complexType name="valueType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="appendable" use="optional" default="false"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="entryType">
    <xs:sequence>
      <xs:element type="xs:string" name="key"/>
      <xs:element type="valueType" name="value"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="configPropsType">
    <xs:sequence>
      <xs:element type="entryType" name="entry" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="genJobConfigurationType">
    <xs:sequence>
      <xs:element type="configPropsType" name="configProps"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>